<?php
$title = 'Новые автомобили';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>

<table class="table">
    <tr>
        <th></th>
        <th>Марка</th>
        <th>Модель</th>
        <th>Комплектация</th>
        <th>Мощность</th>
        <th>Цвет</th>
        <th>Цена</th>
        <th>Статус</th>
    </tr>
    <?php foreach ($cars as $car) : ?>
        <tr>
            <td><img src="<?= $this->basePath() . '/img/' . ($car->image) ?>" width="100"></td>
            <td><?= $this->escapeHtml($car->mark) ?></td>
            <td><?= $this->escapeHtml($car->model) ?></td>
            <td><?= $this->escapeHtml($car->equipment) ?></td>
            <td><?= $this->escapeHtml($car->power) ?></td>
            <td><?= $this->escapeHtml($car->color) ?></td>
            <td><?= $this->escapeHtml($car->price) ?></td>
            <td><?= $this->escapeHtml($car->status) ?></td>
        </tr>
    <?php endforeach; ?>
</table>